<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - PingpongScoreBoardWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PingPongPhoneApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PingPongWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PingPongWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PingpongScoreBoardWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F80B41001CA1F69700C23144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8BA6AEF1C9CC06E003C84F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8BA6B031C9CC06E003C84F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8BA6B0E1C9CC06E003C84F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
